@import "tailwindcss";

:root {
  --bg-dark: #121212;
  --bg-section: #1e1e1e;
  --bg-card: #1a1a1a;
  --bg-hover: #2a2a2a;

  --text-main: #e5e7eb;
  --text-muted: #9ca3af;
  --text-inverse: #121212;
  --text-accent: #3b82f6;

  --accent-primary: #3b82f6;
  --accent-secondary: #10b981;
  --accent-warning: #f59e0b;
  --accent-error: #ef4444;
}
